.hero-text,
.cta-text {
  margin-left: 10%;
}

a {
  @apply font-body;
}

a:hover {
  @apply underline;
}

p {
  @apply font-body text-secondary text-base mt-2 mb-6 w-full;
}

p > a {
  @apply text-tertiary font-semibold;
}

h1 {
  @apply font-display text-secondary text-xl mt-10 mb-6;
}

h2 {
  @apply font-display text-secondary text-xl mt-16 mb-4;
}

h3 {
  @apply text-l text-secondary font-display mt-8 font-bold;
}

ul {
  @apply ml-4 mt-8;
}

li {
  @apply font-body text-base mt-6 text-secondary;
}

@screen md {
  .hero-text {
    margin-left: 33.3%;
  }
  .cta-text {
    margin-left: 16.67%;
  }
  h1 {
    @apply mt-16 mb-8;
  }
  p {
    @apply w-2/3;
  }
}
