a {
  @apply font-body;
}

a:hover {
  @apply underline;
}

p {
  @apply font-body text-secondary text-base mt-2 mb-4 w-full;
}

h1 {
  @apply font-display text-secondary text-2xl mt-10 mb-6;
}

h2 {
  @apply font-display text-secondary text-xl mt-16 mb-4;
}

h3 {
  @apply text-l text-secondary font-display mt-8;
}

ul {
  @apply ml-4 mt-8;
}

li {
  @apply font-body text-base mt-6 text-secondary;
}

.hero {
  background-image: url("../images/garden-bar2.jpg");
}

.hero-height {
  min-height: 200px;
}

@screen md {
  h1 {
    @apply mt-16 mb-8;
  }
  p {
    @apply w-2/3;
  }
  .hero-height {
    min-height: 450px;
  }
}
